# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.txt

**/.vs
**/x64
/DS402_Ro.00540d7d
/DS402_Robot_Arm_control/DS402_Ro.00540d7d
**/.claude
CLAUDE.md
